- if current_user
  .row
    .col-md-4
      = button_to "Refresh", email_path(id: current_user.id), :class => "btn btn-large btn-primary",:style => "float: center",  :method => :put
  %table.table
    %caption= t :emails
    %tr.table_header
      %th= t :subject
      %th= t :from
      %th= t :date
    %tbody
      = render partial:'email', collection: @emails
  %br
  = will_paginate @emails, :renderer => BootstrapPagination::Rails
